<!-- The project cards component
currently three projects with a card, image carousel, and description -->
<div class="card">
  <div class = "carousel">
      <div class="p-3 mb-4 rounded-3 projects" id="projects">
          <div class=" container-fluid py-5 projects">
              <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="false">
                  <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active"
                          aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1"
                          aria-label="Slide 2"></button>
                     
                  </div>
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="pictures/informetro.png" class="d-block w-100" alt="informetro system diagram">
                          
                      </div>
                      <div class="carousel-item">
                          <img src="pictures/map.png" class="d-block w-100" alt="bus route map">
                          
                      </div>
                      
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
  </div> 
  <div class="card-body">
      <h5 class="card-title">InforMetro</h5>
      <p class="card-text">
          This is a ETL data pipeline project for a Data Engineering course at PSU. The relevant data for this project was breadcrumb data for all busses in the C-Tran metro system in the SW Washington and Portland Metro areas. My teammates and I collected this data once per day. To collect the data, we used Apache Kafka consumers to read the data from the source, produced the data from that topic with a Kafka producer, validated and transformed the data, and read into database tables so that we could run analysis on the data. For example, we could map every bus that routed through PDX. 
      </p>
      <h6 class="card-title">Technologies</h6>
      <ul>
        <li>PostgreSQL</li>
        <li>Apache Kafka</li>
        <li>Pandas</li>
        <li>Mapbox API</li>
        <li>Python</li>
      </ul>
      <a
        href="https://github.com/nickiwahlers111/InforMetro"
        class="btn btn-outline-primary"
        ><i class="fa fa-github"></i> github</a>
    </div>
</div>

<div class="card">
  
  <div class = "carousel">
      <div class="p-3 mb-4 rounded-3 projects" id="projects">
          <div class=" container-fluid py-5 projects">
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                  <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                          aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                          aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                          aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="pictures/julia_set.png" class="d-block w-100" alt="blue and pink julia set">
                          <div class="carousel-caption d-md-block">
                              <h3 class="project-title fw-light">Julia Set</h5>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <img src="pictures/sierpinski.png" class="d-block w-100" alt="Orange and green sierpinsky triangle">
                          <div class="carousel-caption d-md-block">
                              <h5 class="project-title fw-light">Sierpinski Triangle</h5>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <img src="pictures/koch.png" class="d-block w-100" alt="Koch Triangle">
                         
                          <div class="carousel-caption d-md-block">
                              <h5 class="project-title fw-light">Koch Snowflake</h5>
                          </div>
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
  </div>    

  <div class="card-body">
    <h5 class="card-title">Exploration of Fractals</h5>
    <p class="card-text">
      In Exploration of fractals, I learned about different common fractals such as Sierpinski’s Triangle, the Koch Snowflake, and Mandelbrot sets, and learned how to create them using different paradigms. The different paradigms included Recursive systems and Iterated function systems among others. The fractals were built by coding up the geometric calculations for each fractal.
    </p>
    <h6 class="card-title">Technologies</h6>
      <ul>
        <li>C/C++</li>
        <li>Graphics Library</li>
       
      </ul>
  </div>
</div>
<div class="card">
  <div class = "carousel">
      <div class="p-3 mb-4 rounded-3 projects" id="projects">
          <div class=" container-fluid py-5 projects">
              <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="false">
                  <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active"
                          aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1"
                          aria-label="Slide 2"></button>
                      
                  </div>
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="pictures/music1.png" class="d-block w-100" alt="home page of music site">
                      </div>
                      <div class="carousel-item">
                          <img src="pictures/music2.png" class="d-block w-100" alt="search example with Moses Sumney">
                      </div>
                      
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
  </div> 
  <div class="card-body">
    <h5 class="card-title">Music Hole</h5>
    <p class="card-text">
      This is a project for Front end Web Development. The Music Hole app allows users to search musical artists and get other artist recommendations. The user can then fall down the music hole and continue to get recommendations by clicking on the results of each search. 
  </p>
    <p class="card-text">
      <h6 class="card-title">Technologies</h6>
      <ul>
        <li>HTML/CSS/JS</li>
        <li>React</li>
        <li>Spotify API, Music Recommendation Engine API</li>
      </ul>
      <a
        href="http://music-hole.herokuapp.com/"
        class="btn btn-outline-primary"
        ><i class="fa fa-music"></i> music-hole</a>
        <a
        href="https://github.com/nickiwahlers111/music-explorer-app"
        class="btn btn-outline-primary"
        ><i class="fa fa-github"></i> github</a>
    </div>
    </p>
  </div>
</div>