<div>
  <h2>Experience</h2>
  <div class="resume-item">
    <div class="test_header">
      <h4>Data Engineer Intern | Airship | Jan 2022 - July 2022</h4>
      <img src="pictures/airship_logo.png" alt="airship logo" />
    </div>

    <p>
      I worked on the Data team at Airship which was comprised of Data
      Engineers, Data Analysts, and Data Scientists. The primary function of the
      team is to help our customers optimize their marketing strategies. I got
      to experience all roles on this team, but primary worked with the Data
      Engineers on ETL pipelines. I worked on the creation of new services for
      the growing data science feature store. My primary project at this
      internship was migrating a repository from Apache Beam to a Coder schema,
      and writing the entire unit test coverage for the corresponding repository
      up to that point.
    </p>
    <ol>
      <li>
        Contributions included development, unit testing, documentation, and
        deployment
        <ul>
          <li>
            Migrated from using Apache Beam Schemas to Coders for serializing
            and deserializing data for downstream data processors for Feature
            Stores project
          </li>
        </ul>
      </li>

      <li>
        Collaborated with frontend developers to update listeners and backend
        developers for publishers
        <ul>
          <li>
            Upgraded event listeners and event publishers on ETL pipeline to
            dynamically update attributes, improving performance and lowering
            data usage from batch changes of every channel key previously
            utilized.
          </li>
        </ul>
      </li>

      <li>
        Participated on Agile team
        <ul>
          <li>
            Utilized epics, retrospectives, stand-ups, collaborative pair
            programming, Kanban board
          </li>
        </ul>
      </li>
    </ol>
  </div>
  <div class="resume-item">
    <div class="test_header">
      <h4>DevOps Intern | Act-On | July 2021 - Dec 2021</h4>
      <img src="pictures/acton_logo.png" alt="act on logo" />
    </div>

    <p>
      I worked on the CORE team at Act-On which was a DevOps team and their
      motto was "we keep the lights on." This team primarily handled customer
      incidents, smashed bugs, and responded to issues with production. There
      was also a Site Reliability Engineering portion of that team. I spent time
      with the engineers there, fixing frontend and backend bugs which resulted
      in actual changes the customer could see, and also spent some time
      learning the roles and responsibilities of Quality Assurance.
    </p>
    <ol>
      <li>
        Developed solutions to optimize customer experience by recreating and
        tracking UI/UX bugs on the Classic Application.
      </li>
      <li>
        Recreated conditions to produce customer reported errors, track the
        source of the error, and develop the solution that aligned with
        acceptance criteria to improve customer experience.
      </li>
      <li>
        Performed manual testing with Quality Assurance team members to maintain
        application performance
      </li>
    </ol>
  </div>

  <div class="resume-item">
    <div class="test_header">
      <h4>
        WD+C Brand Asset Database Manager | Nike | March 2020 - April 2022
      </h4>
      <img src="pictures/nike_logo.jpeg" alt="nike logo" />
    </div>
    <p>
      At this role at Workplace Design and Connectivity, I created an
      organization schema for brand asset management for all Nike buildings on
      campuses in North and South Americas. When I began, there was an outdated
      system of managing information about Brand Health, and so my primary
      reponsibility initially was to migrate from this outdated, static system,
      into a more manageable and dynamic system. I worked on a project
      management team, coordinating with the other PMs about new buildings
      coming online, and being the primary caretaker of this system to maintain
      brand asset health.
    </p>
    <ol>
      <li>
        Developed a Dataset in Smartsheets for storing and maintaining Brand
        Health for all buildings on North and South America campuses.
      </li>
      <ul>
        <li>
          Migrated outdated brand asset data storage system to a dynamic system
        </li>
        <li>
          Gathered brand asset data and maintained clean data storage for the
          purpose of feeding a dashboard for Building Health management and
          analysis.
        </li>
      </ul>
      <li>
        Collaborated with Project Management team on Nike World HQ campus
        building development projects to increase efficiency for asset
        management.
      </li>
    </ol>
  </div>

  <div class="resume-item">
    <div class="test_header">
      <h4>
        Technical Course Support Specialist | Maseeh College of Engineering |
        August 2020 - June 2021
      </h4>
      <ol>
        <li>
          Facilitated Data Structures labs guiding students in their assignments
          including, data structures, algorithms and debugging
        </li>
        <li>
          Performed daily code reviews and led pair programming sessions with
          students to help with wide array of assignments.
        </li>
      </ol>
    </div>
  </div>

  <h2>Education</h2>
  <div class="resume-item">
    <div>
      <h4>Portland State University</h4>
      <p>
        M.S. Computer Science, Data and Software Engineering | Expected
        Graduation: June 2023
      </p>
    </div>
    <div>
      <h4>Gonzaga University</h4>
      <p>B.A. Mathematics, International Relations | Graduated June 2019</p>
    </div>

    <p></p>
  </div>
</div>
